<section class="page">
  <div class="centered-box">
    <h1><%= @album.title %></h1>
    <ul>
      <li>By: <%= @album.band.name %></li>
      <li>Released: <%= @album.year %></li>
      <li><%= @album.live ? "Live Version" : "Studio Album" %></li>
    </ul>

    <h1>Tracks</h1>
    <table>
      <tbody>
        <tr>
          <th class="year">Ord</th>
          <th>Title</th>
        </tr>
        <% @album.tracks.each do |track| %>
        <%= render 'track_tr', track: track %>
        <% end %>
      </tbody>
    </table>

    <%= button_to 'New Track', new_album_track_url(@album), method: :get %>
    <%= button_to "Edit Album", edit_album_url(@album), method: :get  %>
    <%= button_to "Delete Album", album_url, method: :delete %>
    <%= button_to "Band index page", bands_url, method: :get  %>
  </div>
</section>