<section class="page">
  <div class="centered-box">
    <%= flash[:notice] %>
    <h1><%= @band.name %></h1>
    <nav class="show-buttons">
      <p class="links"><%= link_to "Edit Band", edit_band_url(@band) %></p>
      <p class="delete-button"><%= button_to "Delete Band", band_url, method: :delete %></p>
    </nav>
    
    <br>
    
    <h1>Albums</h1>
    <table>
      <tbody>
        <tr>
          <th>Title</th>
          <th class="year">Year</th>
        </tr>
        <% @band.albums.each do |album| %>
        <%= render 'album_tr', album: album %>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <nav class="show-buttons">
      <p class="links"><%= link_to 'Add Album', new_band_album_url(@band) %></p>
      <p class="links"><%= link_to "Band index page", bands_url %></p>
    </nav>
  </div>
</section>