<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link 
      href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" 
      rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-content">
      <h1 class="main-logo">Music App</h1>

      <div class="search-bar-container">
        <form action="">
          <select class="search-drop-down" name="search_type" id="search[:search_type]">
            <option value="All">All</option>
            <option value="Albums">Album</option>
            <option value="Bands">Band</option>
            <option value="Tracks">Tracks</option>
            <option value="Tags">Tags</option>
          </select>
          <input
            type="search" 
            name="search[input]" 
            id="search_input" 
            placeholder="Search.." 
            required>
          <input type="submit" value="Search">
        </form>
      </div>

      <% if current_user %>
        <nav>
          <% if current_user.admin %>
          <div class="admin-header">
            <a class="button" href="<%=bands_url %>">Take Me Home</a>
            <a class="button" href="<%=users_url %>">Take Me To Users</a>
          </div>
        <% else %>
          <a class="button" href="<%=bands_url %>">Take Me Home</a>
          <% end %>
          <div class="user-detail">
            <p>Logged in as: <%=current_user.email%></p>
            <%= button_to "Sign Out", session_url, method: :delete %>
          </div>
        </nav>
      <% end %>
        
      <%= yield %>
    </div>
  </body>
</html>
