<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link 
      href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" 
      rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-content">
      <h1 class="main-logo">Music App</h1>

      <% if current_user %>
        <nav>
          <a class="button" href="<%=bands_url %>">Take Me Home</a>
          <div class="user-detail">
            <p>Logged in as: <%=current_user.email%></p>
            <%= button_to "Sign Out", session_url, method: :delete %>
          </div>
        </nav>
      <% end %>
        
      <%= yield %>
    </div>
  </body>
</html>
