<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link 
      href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" 
      rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header-content">
      <h1 class="main-logo">Music App</h1>

      <ul class="header-list">
        <% if current_user %>
        <li><%= button_to "Log Out!", session_url, method: :delete %></li>
        <% else %>
        <li class="header-list-item"><%= link_to "Log in!", new_session_url %></li>
        <li class="header-list-item"><%= link_to "Sign up!", new_user_url %></li>
        <% end %>
      </ul>
    </nav>
    
    <main class="main">
      <%= yield %>
    </main>

  </body>
</html>
